.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.765137;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-1.605533px;}
.ls3{letter-spacing:-0.395885px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:3.408000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-3.408000px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:1.605533px;}
._2{margin-left:-10.235962px;}
._0{margin-left:-3.282961px;}
._1{margin-left:-1.205986px;}
._4{width:2.044800px;}
._3{width:3.339840px;}
._5{width:132.115555px;}
._6{width:2699.956330px;}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(87,87,86);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:19.210400px;}
.fs6{font-size:21.993600px;}
.fs2{font-size:26.055200px;}
.fs7{font-size:27.112800px;}
.fs0{font-size:33.499600px;}
.fs5{font-size:68.160000px;}
.fs3{font-size:74.443600px;}
.fs1{font-size:186.108400px;}
.y0{bottom:0.000000px;}
.y1e{bottom:23.347700px;}
.y20{bottom:25.042000px;}
.y21{bottom:26.599615px;}
.y1f{bottom:33.181200px;}
.y14{bottom:95.404280px;}
.y13{bottom:103.220840px;}
.y12{bottom:111.037400px;}
.y11{bottom:118.853960px;}
.y10{bottom:134.487080px;}
.yf{bottom:150.120200px;}
.ye{bottom:157.936760px;}
.y1c{bottom:158.911700px;}
.yd{bottom:173.569880px;}
.yc{bottom:181.386440px;}
.yb{bottom:197.019560px;}
.ya{bottom:212.652680px;}
.y9{bottom:220.469240px;}
.y1d{bottom:227.312700px;}
.y8{bottom:228.285800px;}
.y15{bottom:241.618600px;}
.y1b{bottom:278.850900px;}
.y1a{bottom:288.900780px;}
.y19{bottom:298.950660px;}
.y18{bottom:309.000540px;}
.y17{bottom:319.050420px;}
.y16{bottom:329.100300px;}
.y6{bottom:361.500800px;}
.y5{bottom:371.550680px;}
.y4{bottom:381.600560px;}
.y3{bottom:391.650440px;}
.y2{bottom:401.700320px;}
.y1{bottom:411.750200px;}
.y7{bottom:755.050400px;}
.h7{height:14.407800px;}
.h9{height:16.011942px;}
.h4{height:18.994241px;}
.h5{height:19.541400px;}
.ha{height:19.765337px;}
.h2{height:24.421208px;}
.h8{height:49.622344px;}
.h6{height:54.418272px;}
.h3{height:136.045240px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w0{width:1106.930000px;}
.w1{width:1107.000000px;}
.x0{left:0.000000px;}
.x11{left:57.898400px;}
.x13{left:222.284200px;}
.x12{left:313.099600px;}
.x15{left:404.362300px;}
.x16{left:578.719700px;}
.x4{left:651.745474px;}
.xc{left:675.437228px;}
.x2{left:677.397793px;}
.xa{left:687.940954px;}
.x1{left:695.646700px;}
.xd{left:709.514696px;}
.x5{left:713.468487px;}
.x9{left:719.656700px;}
.xf{left:732.630500px;}
.x7{left:736.554700px;}
.x6{left:739.439052px;}
.xe{left:764.789036px;}
.x3{left:780.953431px;}
.xb{left:787.376141px;}
.x10{left:800.250600px;}
.x8{left:882.001900px;}
.x14{left:964.821385px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-2.140710pt;}
.ls3{letter-spacing:-0.527846pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:4.544000pt;}
.ws1{word-spacing:-4.544000pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:2.140710pt;}
._2{margin-left:-13.647949pt;}
._0{margin-left:-4.377281pt;}
._1{margin-left:-1.607981pt;}
._4{width:2.726400pt;}
._3{width:4.453120pt;}
._5{width:176.154074pt;}
._6{width:3599.941773pt;}
.fs4{font-size:25.613867pt;}
.fs6{font-size:29.324800pt;}
.fs2{font-size:34.740267pt;}
.fs7{font-size:36.150400pt;}
.fs0{font-size:44.666133pt;}
.fs5{font-size:90.880000pt;}
.fs3{font-size:99.258133pt;}
.fs1{font-size:248.144533pt;}
.y0{bottom:0.000000pt;}
.y1e{bottom:31.130267pt;}
.y20{bottom:33.389333pt;}
.y21{bottom:35.466154pt;}
.y1f{bottom:44.241600pt;}
.y14{bottom:127.205707pt;}
.y13{bottom:137.627787pt;}
.y12{bottom:148.049867pt;}
.y11{bottom:158.471947pt;}
.y10{bottom:179.316107pt;}
.yf{bottom:200.160267pt;}
.ye{bottom:210.582347pt;}
.y1c{bottom:211.882267pt;}
.yd{bottom:231.426507pt;}
.yc{bottom:241.848587pt;}
.yb{bottom:262.692747pt;}
.ya{bottom:283.536907pt;}
.y9{bottom:293.958987pt;}
.y1d{bottom:303.083600pt;}
.y8{bottom:304.381067pt;}
.y15{bottom:322.158133pt;}
.y1b{bottom:371.801200pt;}
.y1a{bottom:385.201040pt;}
.y19{bottom:398.600880pt;}
.y18{bottom:412.000720pt;}
.y17{bottom:425.400560pt;}
.y16{bottom:438.800400pt;}
.y6{bottom:482.001067pt;}
.y5{bottom:495.400907pt;}
.y4{bottom:508.800747pt;}
.y3{bottom:522.200587pt;}
.y2{bottom:535.600427pt;}
.y1{bottom:549.000267pt;}
.y7{bottom:1006.733867pt;}
.h7{height:19.210400pt;}
.h9{height:21.349256pt;}
.h4{height:25.325654pt;}
.h5{height:26.055200pt;}
.ha{height:26.353783pt;}
.h2{height:32.561611pt;}
.h8{height:66.163125pt;}
.h6{height:72.557695pt;}
.h3{height:181.393654pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w0{width:1475.906667pt;}
.w1{width:1476.000000pt;}
.x0{left:0.000000pt;}
.x11{left:77.197867pt;}
.x13{left:296.378933pt;}
.x12{left:417.466133pt;}
.x15{left:539.149733pt;}
.x16{left:771.626267pt;}
.x4{left:868.993966pt;}
.xc{left:900.582971pt;}
.x2{left:903.197057pt;}
.xa{left:917.254605pt;}
.x1{left:927.528933pt;}
.xd{left:946.019595pt;}
.x5{left:951.291316pt;}
.x9{left:959.542267pt;}
.xf{left:976.840667pt;}
.x7{left:982.072933pt;}
.x6{left:985.918736pt;}
.xe{left:1019.718715pt;}
.x3{left:1041.271242pt;}
.xb{left:1049.834855pt;}
.x10{left:1067.000800pt;}
.x8{left:1176.002533pt;}
.x14{left:1286.428514pt;}
}
